.even {
    background-color: #D9D9D9;
}

.even .white-text,
.odd .white-text {
    padding: 10px 20px;
    color: #fff;
}

.even .purple-text,
.odd .purple-text {
    padding: 10px 20px;
    color: #A58F8F;
}



